$teal = #4DB6AC
$blue-grey-800 = #37474F
$ruby = #dc5355
$php = #7d659e
$design = #32a081
$black = #212121
$white = #F5F5F5

$old-paper = #fef5ea
$main-text-color = $white
$second-text-color = #444444
$color-one = $teal
$color-two = $php
$color-three = $blue-grey-800
$color-four = $old-paper
$color-five = $ruby
$color-six = $design;
